<div class="mobile-visible" role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Amenities" aria-controls="ongoing" role="tab" data-toggle="tab">Amenities</a></li>
    <li role="presentation"><a href="#About" aria-controls="complete" role="tab" data-toggle="tab">About</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Amenities">
      
    </div>
    
    <div role="tabpanel" class="tab-pane" id="About">
      <p class="text-area">
        <%= @room.description %>
      </p>
    </div>
  </div>
</div>
<br>
