/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "custom";
@import "mobile";
@import "datepicker";
@import "braintree";
@import "3gs";
/* @import "4s5s";
@import "66s"; */
@import "awesome-bootstrap-checkbox";


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
    background-color: #FFFFFF;
    opacity: 1;
}

option:disabled {
	color: #e3e3e3;
}