@media only screen and (min-width: 1024px) {
  .mobile-visible {
      visibility: hidden;
      display: none;
  };

  .desktop-visible {
      visibility: visible;
      display: block;
  };

  .padRight-2 {
  padding-right: 2px;
  };

  .padLeft-2 {
   padding-left: 2px;
  };

  .botTag {
    font-size: 20px;
  }

 
  .form-input {
    width: 100%;
    padding: 12px 8px;
    font-size: 13px;
    height: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    &:focus {
      border: 1px solid #cecece;
      outline: none !important;
    }
  }


  .area-wrapper {
    height: 320px;
    img {
    width: 100%;
    height: 100%;
    }
    h1 {
      position-x: 50%;
    }
  }

  .area-description {
    position: absolute;
    width: 100%;
    bottom: 45%;
    left: 0%;
    text-align: center;
    h1 {
      font-size: 30px;
      margin: 0;
      color: #FFF;
      font-weight: bold;
      text-shadow: 0px 0px 10px #000;
    }
  }

  .roomWrapper {
  padding: 30px 30px 30px 15px;
  }

  .listing-price {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 100;
  }

  .room-wrapper {
    float: left;
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    img {
      width: 530px;
      height: 300px;
    }
    .room-description {
      padding: 20px;
      h1 {
        font-size: 16px;
        margin: 0 0 5px 0;
      }
      p {
        margin: 0;
      }
        
    }
  }


  .home-hero {
    text-align: center;
    padding: 80px 0;
    h2 {
      font-size: 25px;
    }
    .hero-title {
      color: #FFF;
      font-size: 60px;
      font-weight: bold;
      margin: auto;
      margin-bottom: 15px;
      margin-top: 80px;
      text-shadow: 1px 1px 2px #331f04;
    }
    .hero-subtext {
      font-size: 24px;
      font-weight: bold;
      margin: auto;
      color: #FFF;
      margin-bottom: 60px;
      text-shadow: 1px 1px 1px #331f04;
    }
  }

  #home-hero-container {
      background-image: url('bg.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      background-color: #3c3431;
      padding: 0px;
      margin: 0;
      height: 595px;
  }

  .hero-form-container {
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
        position: relative;
        #home-map-picker-box {
          background-color: rgba(0, 0, 0, 0.5);
          padding: 15px;
          border-radius: 6px;
          color: #FFF;
          .home-map-picker-title {
              margin-top: 0;
              text-align: center;
              color: #eaeaea;
              font-size: 15px;
          }
        }
        hr {
            margin-top: 15px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eeeeee;
        }
    }
}

